<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">

        <ul class="uk-navbar-nav">
            <li><a href="/">Add User</a></li>
            <li><a href="/users">Users List</a></li>
        </ul>

    </div>
</nav>