<div class="box">
      <h1>Add to users list</h1>
      <form action="/add/user" method="post">
            <input type="text" placeholder="Username" name="username"/>
            <input type="text" placeholder="Password" name="password"/>
            <input type="submit" value="Add" class="button"></input>
      </form>
</div>