   
<table class="uk-table uk-table-small uk-table-divider">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
         {{#each users}}
        <tr>
            <td>{{username}}</td>
            <td>{{password}}</td>
            <td>{{id}}</td>
        </tr>
        {{/each}}

    </tbody>
</table>


